In [64]:
import pandas as pd
import json
import requests
from pprint import pprint

In [131]:
key = "5450686d766e6f6b3937656b725948"
d_type = 'xml'
start_page = '1'
end_page = '1000'

url = 'http://openapi.seoul.go.kr:8088/'+ key +'/'+ d_type +'/LOCALDATA_072404/'+ start_page +'/'+ end_page + '/'

In [132]:
df = pd.read_xml(url)

### 종합

In [138]:
x = 1001


for i in range(2000, 500000, 1000):
    try:
        url = 'http://openapi.seoul.go.kr:8088/'+ key +'/'+ d_type +'/LOCALDATA_072404/'+ str(x) +'/'+ str(i) + '/'
        
        x = x + 1000
        
        df2 = pd.read_xml(url)
        
        df = pd.concat([df, df2])
        
        
    except: 
        pass

In [139]:
df

,list_total_count,CODE,MESSAGE,OPNSFTEAMCODE,MGTNO,APVPERMYMD,APVCANCELYMD,TRDSTATEGBN,TRDSTATENM,DTLSTATEGBN,...,FCTYSILJOBEPCNT,FCTYPDTJOBEPCNT,BDNGOWNSENM,ISREAM,MONAM,MULTUSNUPSOYN,FACILTOTSCP,JTUPSOASGNNO,JTUPSOMAINEDF,HOMEPAGE
0,477511.0,None,None,NaN,None,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
1,NaN,INFO-000,정상 처리되었습니다,NaN,None,NaN,NaN,NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN
2,NaN,None,None,3000000.0,3000000-101-1995-05829,19951111.0,NaN,1.0,영업/정상,1.0,...,NaN,NaN,NaN,NaN,NaN,N,725.98,NaN,NaN,NaN
3,NaN,None,None,3000000.0,3000000-101-2002-11872,20020206.0,NaN,1.0,영업/정상,1.0,...,NaN,NaN,NaN,NaN,NaN,N,286.07,NaN,NaN,NaN
4,NaN,None,None,3000000.0,3000000-101-1990-03102,19900531.0,NaN,1.0,영업/정상,1.0,...,NaN,NaN,NaN,NaN,NaN,N,23.12,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,NaN,None,None,3220000.0,3220000-101-1994-14896,19940917.0,NaN,1.0,영업/정상,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,NaN,None,None,3020000.0,3020000-101-1988-00925,19880704.0,NaN,1.0,영업/정상,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
510,NaN,None,None,3140000.0,3140000-101-1983-00740,19830309.0,NaN,3.0,폐업,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
511,NaN,None,None,3120000.0,3120000-101-2001-05311,20010915.0,NaN,3.0,폐업,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
512,NaN,None,None,3150000.0,3150000-101-2020-00383,20200706.0,NaN,3.0,폐업,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 필요없는 데이터 삭제

In [ ]:
df.drop([0, 1], axis=0, inplace=True)

In [145]:
data = df[['BPLCNM','TRDSTATENM', 'SITEPOSTNO', 'SITEWHLADDR', 'RDNWHLADDR', 'X', 'Y', 'DCBYMD']]
data.reset_index(inplace=True)

### 저장

In [146]:
data.to_csv('C:/worksplaces/workspace_project/project_visual/restaurant_data/retaurant.csv', encoding='utf-8')